{% extends 'base_templates/base_template_header.html' %}
{% load static %}
    <script src="{% static 'directory.js' %}"></script>
{% block body %} 
<div class="file-manager-background  flex flex-grow-1  container-fluid ">
        <div class="row">
            <div class="col-8 border border-dark rounded m-5 bg-light position-relative box-shadow">
                {% if directory %}
                        <input type="hidden" value="{{directory.pk}}" id="actual_directory">
                    {% endif %}
                    <div class="d-flex wrap">
                        <h3 class="pe-2">My Files </h3>
                    </div>    
                    <div class=" d-flex flex-wrap  me-2">
                    {% for i in directories %}
                        <div class=" d-flex flex-column align-items-center align-content-start m-3 ">
                                <i class="fa-solid fa-folder fa-4x"></i>
                                <p class="parent">{{ i }}</p>
                                <input type="hidden" value="{{i.pk}}" name="id">
                                    
                        </div>
                    {% endfor %}
                    
                    {% for i in files %}
                        <div class=" d-flex flex-column align-items-center align-content-start m-3">
                            <i class="fa-solid fa-file fa-4x"></i>
                            <p>{{ i.filename}}</p>
                        </div>
                    {% endfor %}
                    </div>
                    
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                <div class="position-absolute  bottom-0 end-0 m-2 d-flex">
                    <div class=" border border-dark  rounded-circle p-3 mx-2 upload-file-icon position-relative upload-file-icon-div text-center ">
                        <i class="fa-solid fa-file-medical fa-2x file-icon"></i>
                    </div>
                    <div class=" border border-dark rounded-circle p-3 upload-directory-icon-div  ">
                        <i class="fa-solid fa-folder-plus fa-2x "></i>   
                    </div>
                </div>
            </div>
            <div class="col-2  offset-2 border-dark rounded m-5 bg-light box-shadow">
                Myfiles
            </div>
        </div>
</div>
{% load static %}
<script src="{% static 'directory.js' %}"></script>
{% endblock %}


