<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'directory.js' %}"></script>
</head>
<body>
    
    {% if directory %}
        <input type="hidden" value="{{directory.pk}}" id="actual_directory">
    {% endif %}
        
    <div>
        <h1>Directories <button id="new_directory">+</button></h1>
        {% for i in directories  %}
                <p class="parent">{{ i }}</p>
                <input type="hidden" value="{{i.pk}}" name="id">
                    
        {% endfor %}
    </div>

    
    <div>
        <h1>Files <button id="upload_file">+</button></h1>
        {% for i in files %}
                <p>{{ i.filename}}</p>
        {% endfor %}
    </div>
        
        
        
</body>
</html>