{% extends 'base_templates/base_template_header.html' %}
{% load static %}

{% block body %} 
<div class="file-manager-background d-flex flex-grow-1  container-fluid ">
        <div class="row flex-grow-1">
            <div class="col-8 flex-grow-1 rounded-3 m-5 bg-light p-4 position-relative box-shadow" id="main_container">
                {% if directory %}
                        <input type="hidden" value="{{directory.pk}}" id="actual_directory">
                    {% endif %} 
                    <div class="resources-grid me-2">
                        {% for i in directories %}
                            <div class=" d-flex flex-grow-1 flex-column align-items-center align-content-start resources" data-type="directory" data-id="{{i.pk}}" data-name="{{i.name}}">
                                <div class="p-3 folder">
                                    <i class="fa-solid fa-folder fa-3x"></i>
                                </div>
                                    <p class="parent resource-name">{{ i }}</p>
                                    <input type="hidden" value="{{i.pk}}" name="id">  
                            </div>
                        {% endfor %}
                        
                        {% for i in files %}
                            <div class=" d-flex flex-column flex-grow-1 align-items-center align-content-start resources" data-type="file" data-id="{{i.pk}}" data-name="{{i.filename}}">
                                <div class="p-3 file">
                                    <i class="fa-solid fa-file-standard-file fa-file-{{i.extensionText}} fa-3x"></i>
                                </div>
                                <p class="resource-name">{{ i.filename}}{{i.extension}}</p>
                            </div>
                        {% endfor %}
                    </div>
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}                    
                </div>
            <div class="col-2 offset-2 border-dark rounded m-5 bg-light box-shadow d-flex flex-column" >
                <div class="row">
                    <div class="col py-3 mt-3">
                        <p class="text-center fs-3 m-0 my_files">Cloudware</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col py-3">
                        <p class="text-center fs-3 m-0 ">Shared Files</p>
                    </div>
                </div>
                <!-- <div class="row flex-grow-1">
                    <div class="col d-flex flex-column flex-grow-1">
                        <div class="mt-auto pb-3 px-3 d-flex justify-content-around">
                            <div id="file-management" class="d-flex flex-column-reverse py-3 px-2 resources-management mt-auto">
                                <div class="rounded-circle p-3 info-resource">
                                    <i class="fa-solid fa-file fa-2x"></i>
                                </div>
                                <div id="add-file" class="rounded-circle p-3 add-resource mb-3">
                                    <i class="fa-solid fa-file-circle-plus fa-2x"></i>
                                </div>
                                <div id="remove-file" class="rounded-circle remove-resource p-3 mb-3">
                                    <i class="fa-solid fa-file-circle-minus fa-2x"></i>
                                </div>
                                <div id="remove-user" class="rounded-circle share-resource p-3 mb-3">
                                    <i class="fa-solid fa-share fa-2x"></i>
                                </div>
                            </div>
                            <div id="directory-management" class="d-flex flex-column-reverse py-3 px-2 resources-management mt-auto">
                                <div class="rounded-circle p-3 info-resource">
                                    <i class="fa-solid fa-folder fa-2x"></i>
                                </div>
                                <div id="add-directory" class="rounded-circle p-3 add-resource mb-3">
                                    <i class="fa-solid fa-folder-plus fa-2x"></i>
                                </div>
                                <div id="remove-directory" class="rounded-circle remove-resource p-3 mb-3">
                                    <i class="fa-solid fa-folder-minus fa-2x"></i>
                                </div>
                                <div id="remove-directory" class="rounded-circle share-resource p-3 mb-3">
                                    <i class="fa-solid fa-share fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        
</div>

<ul class='file-menu'>
    <li data-action="first">Download</li>
</ul>

<script src="{% static 'cloudwareApp/shared_sources.js' %}"></script>

{% endblock %}


