{% extends 'base_templates/base_template_header.html' %}
{% load static %}

{% block body %}
<div class="bg-secondary-color">
    {% include 'template_parts/breadcrumbs-share.html' %}
</div> 
<div class="file-manager-background d-flex flex-grow-1  container-fluid ">
        <div class="row flex-grow-1">
            <div class="col-8 flex-grow-1 rounded-3 m-5 mt-0 bg-light p-4 position-relative box-shadow" id="main_container">
                {% if directory %}
                        <input type="hidden" value="{{directory.pk}}" id="actual_directory">
                    {% endif %} 
                    <div class="resources-grid me-2">
                        {% for i in directories %}
                            <div class=" d-flex flex-grow-1 flex-column align-items-center align-content-start resources" data-type="directory" data-id="{{i.pk}}" data-name="{{i.name}}">
                                <div class="p-3 folder">
                                    <i class="fa-solid fa-folder fa-3x"></i>
                                </div>
                                    <p class="parent resource-name">{{ i }}</p>
                                    <input type="hidden" value="{{i.pk}}" name="id">  
                            </div>
                        {% endfor %}
                        
                        {% for i in files %}
                            <div class=" d-flex flex-column flex-grow-1 align-items-center align-content-start resources" data-type="file" data-id="{{i.pk}}" data-name="{{i.filename}}">
                                <div class="p-3 file">
                                    <i class="fa-solid fa-file-standard-file fa-file-{{i.extensionText}} fa-3x"></i>
                                </div>
                                <p class="resource-name">{{ i.filename}}{{i.extension}}</p>
                            </div>
                        {% endfor %}
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>              
                </div>
            <div class="col-2 offset-2 border-dark rounded m-5 mt-0 bg-light box-shadow d-flex flex-column" >
                <div class="row">
                    <div class="col py-3 mt-3">
                        <p class="text-center change-function fs-3 m-0 my_files">Cloudware</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col py-3">
                        <p class="text-center bg-primary-color-gradient rounded-3 text-white fs-3 m-0 ">Shared Files</p>
                    </div>
                </div>
            </div>
        </div>
        
</div>

<ul class='file-menu'>
    <li data-action="first">Download</li>
</ul>

<script src="{% static 'cloudwareApp/shared_sources.js' %}"></script>

{% endblock %}


