{% load static %}
<footer class="fs-5 mt-auto">
    <div class="container-fluid px-5 py-4 d-flex justify-content-between">
        <a href="https://www.iesesteveterradas.cat" class="d-flex align-items-center text-decoration-none">
            <img src="{% static 'cloudwareApp\media\IETI_logo.png' %}" alt="IETI Logo">
            <p class="mb-0 ms-3 fw-bold">A IETI Project</p>
        </a>
        <ul class="list-unstyled">
            <li>
                <p class="mb-0 fw-bold">Created by:</p>
            </li>
            <li>
                <a href="https://github.com/g-alpi" class="d-flex align-items-center text-decoration-none">
                    <i class="fa-brands fa-github"></i>
                    <p class="mb-0 ms-3">Guillem Albo</p>
                </a>
            </li>
            <li>
                <a href="https://github.com/carlosvalgar" class="d-flex align-items-center text-decoration-none">
                    <i class="fa-brands fa-github"></i>
                    <p class="mb-0 ms-3">Carlos Valenzuela</p>
                </a>
            </li>
        </ul>
    </div>
</footer>