:root
{
    --main-color: #094C93;
    --light-main-color: #0C73B2;
    --secondary-color: #EAE1C8;
    --light-color: #ffffff;
    --hover-light-color: #EAE1C8;
    --hover-upload-buttons-color: #429B46;
}
body
{
    font-family: 'Montserrat', sans-serif;
}

.spacer-100px {
    height: 100px;
}

.bg-primary-color 
{
    background-color: var(--main-color) !important;
}
.bg-primary-color-gradient
{
    background-image: linear-gradient(var(--main-color), var(--light-main-color));
}
.bg-database
{
    background-image: url("media/database.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 600px;
}
a 
{
    color: var(--main-color);
    transition: color 500ms;
}
a:hover
{
    color: var(--light-main-color);
    transition: color 500ms;
}

header, footer
{
    min-height: 100px;
    background-image: linear-gradient(var(--main-color), var(--light-main-color));
    color: var(--light-color);
}

footer
{
    background-image: linear-gradient(var(--light-main-color), var(--main-color));
}

header a, footer a
{
    color: var(--light-color) !important;
    transition: color 500ms;
}
header a:hover, footer a:hover
{
    color: var(--hover-light-color) !important;
}
.circle-logo 
{
    padding: 7px;
    border-radius: 100%;
    background-color: var(--light-color);
    transition: background-color 500ms;
}
header a:hover .circle-logo
{
    background-color: var(--hover-light-color);
}
.cloudware-logo-text
{
    font-family: 'Revalia', cursive;
}
.landing-welcome
{
    height: calc(100vh - 100px);
    background: url("media/landing_background.jpg") no-repeat center center;
    background-size: cover;
}

.landing-welcome a 
{
    font-size: 48px;
}

.login-background 
{
    background: url("media/login_background.jpg") no-repeat center center fixed;
    background-size: cover;
}
.signup-background 
{
    background: url("media/signup_background.jpg") no-repeat center center fixed;
    background-size: cover;
}
.login-form, .signup-form
{
    width: 600px;
    height: 80%;
    background-color: var(--secondary-color);
    border-radius: 25px;
}
.blue-btn
{
    background-color: var(--main-color);
    color: var(--light-color);
    border: none;
    border-radius: 5px;
    transition: background-color 500ms;
}

.blue-btn:hover
{
    background-color: var(--light-main-color);
    transition: background-color 500ms;
}

.image-form
{
    position: relative;
}
.image-form span
{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0%, -50%);
}
.form-control
{
    border: none;
    border-radius: 25px;
    height: 60px;
    padding-left: 50px;
}


.box-shadow{
    box-shadow: 15px 10px 10px 5px rgba(0,0,0,0.25);
}


.file-manager-background 
{
    background: var(--secondary-color);
    background-size: cover;
}
.resources:focus > i
{
    color: var(--hover-light-color);
    transition: color 400ms;
}

.upload-directory-icon:hover , .upload-file-icon:hover
{
    background-color: var(--hover-upload-buttons-color);
    transition: background-color 500ms;
    color: var(--light-color);
    cursor: pointer;
}

.file-icon
{

    width: 32px;
    height: 32px;
}

.resources
{
    max-width: 10%;
    min-width: 10%;
}

.resource-name
{
    word-break: break-all;
}

.dark-background
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.form-file-container,.form-directory-container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
}

.form-file-container,.form-directory-container, .dark-background
{
    display: none ;
}

.active 
{
    border: var(--main-color) dotted 1px;
}
.active > i
{
    color: lightblue;
}



.upload-menu, .file-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}


/* Each of the items in the list */
.upload-menu li, .file-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.upload-menu li:hover , .file-menu li:hover {
    background-color: #DEF;
}

